* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70;
  padding-left: 200;
  position: relative;
}

#iconoTienda{
  color: white;
  margin-right: 10px;
  font-size: 2em;
}

.topbar{
  list-style-type: none;
  overflow: hidden;
  border: 1px solid black;
  background-color: rgb(80, 80, 255);
  padding: 0 0;
  height: 56;
}

.topbar li{
  float: left;
}

.topbar li:last-child{
  float: right;

}

.topbar li a{
  display: block;
  color: white;
  text-decoration: none;
}

.topdivider{
  position: fixed;
  width: 100%;
  margin: 0;
  top:0;
  left:0;
}

.leftsidebar {
  position: fixed;
  height: 100%;
  width: 13%;
  top:57;
  left:0;
}

.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: rgb(80, 80, 255);
  height: 100%;
}

.sidebar li{
  border-bottom: 1px solid black;
  padding: 10;
  color: white;
}

.sidebar li:nth-child(3n+1){
  text-align: center;
  background-color: rgb(20, 30, 120)
}

.sidebar li a{
  display:block;
  text-decoration: none;
  color: white;
  padding:10;
  margin:-10;
}

.sidebar li a:hover{
  background-color: rgb(160, 180, 255);
}

.footerText{
  text-align: right;
}

.loginFormDiv {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.loginForm {
  width: 30%;
  padding: 10;
  border: 1px solid black;
  border-radius: 10px;
}

.loginForm input
{
  float: right;
}

.loginForm input[type="submit"]
{
  display: block;
  margin: 0 auto;
}

.botonWrapper{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.errorLabel{
  color: red;
  font-style: italic;
  text-align: center;
}

.footerDiv
{
  position: fixed;
  bottom: 0;
  right:10;
}

.tablaResultados
{
  border: 1px solid black;
  /* border-radius: 5px; */
  width: 90%;
  text-align: center;
  border-collapse: collapse;

}

.tablaResultados th
{
  border: 1px solid black;
  background-color: rgb(20, 30, 120);
  color: white;
}

.tablaResultados td
{
  border: 1px solid black;
}

.tablaResultados tr:nth-child(2n + 1)
{
  background-color: rgb(160, 180, 255);
}

.formUsuariosDiv
{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.formUsuarios
{
  width: 30%;
  padding: 10;
  border: 1px solid black;
  border-radius: 10px;
}

.formUsuarios input
{
  float: right;
  width: 70%;
}

.formUsuarios select
{
  float: right;
  width: 70%;
}
